{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <title>{% block title %}Alojamiento Vacacional{% endblock %}</title>
    <link href="{% static 'bookings/styles.css' %}" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-xl fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="{% static 'bookings/alojamientovacacional.png' %}" alt="Logo" class="logo-custom">
            </a>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <a class="navbar-brand d-flex align-items-center" href="#">
                        <img src="{% static 'bookings/alojamientovacacional.png' %}" alt="Logo" class="logo-custom-display">
                    </a>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                        <div class="solo-movil mt-0">
                            <a href="#" class="login-button text-nowrap" id="login-button" style="margin-bottom: 10px;">Iniciar Sesión</a>
                            <a href="#" class="login-button text-nowrap" id="sign-up-button" style="margin-bottom: 10px;">Registrarse</a>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2 active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="#">Viviendas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="#">Reservas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="#">Sobre</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-flex align-items-center buttons-container">
                <div class="solo-pc">
                    <a href="#" class="login-button text-nowrap" id="login-button">Iniciar Sesión</a>
                    <a href="#" class="login-button text-nowrap" id="sign-up-button">Registrarse</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>

    {% block body %}
    {% endblock %}

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</body>

</html>