body {
  background-image: url("/static/bookings/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}   

.navbar {
    background-color: white;
    height: 100px;
}

.login-button {
    background-color: #0078D7;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #005A9E;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    font-family: 'Arial', sans-serif;
}

.logo-custom {
    height: 70px;
    width: auto;
}