body {
  background-image: url("/static/bookings/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}   

.navbar {
    background-color: white;
    height: 100px;
}

.login-button {
    background-color: #0078D7;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    margin-right: 10px;
}

#login-button {
    background-color: black;
}

.login-button:hover {
    background-color: #005A9E;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    font-family: 'Arial', sans-serif;
}

.logo-custom {
    height: 70px;
    width: auto;
}

.logo-custom-display {
    height: 60px;
    width: auto;
}

@media (max-width: 750px) {
    .solo-pc {
        display: none;
    }
    /* Pasa los botones de inicio de sesión y registrarse a dentro del display*/
    .solo-movil {
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .login-button {
        padding: 8px 15px;
        font-size: 13px;
    }

    .offcanvas-body {
        padding-top: 0 !important;
    }
}

@media (min-width: 750px) {
    .solo-movil {
        display: none;
    }
    .solo-pc {
        display: flex;
    }
}